html{
	font-size: 100%;
}

body{
	margin: 0;
	padding: 0;
	font-family: 'Josefin Sans', sans-serif;
	
	color:#080809;

	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-position: center; 

	background-image: url('assets/img/background_1920x1080.jpg');
    background-image: -webkit-image-set(
        url('assets/img/background_320x240.jpg') 1x,
        url('assets/img/background_640x480.jpg') 2x,
        url('assets/img/background_1920x1080.jpg') 3x
    );

    background-image: image-set(
        url('assets/img/background_320x240.jpg') 1x,
        url('assets/img/background_640x480.jpg') 2x,
        url('assets/img/background_1920x1080.jpg') 3x
    );

}

body::after{
  content:"";
  display: none;
   z-index: 1;
 
  position: fixed;
  top :0;
  bottom:0;
  right: 0;
  left:0;
  opacity: 0;
  background: rgb(0,0,0);
  transition: opacity 0.5s;
  
}
body.gallery-open::after{
  opacity:0.6;
  display:block;
  
}


object, .contact-tile{
	width: 2rem;
	margin: 1rem 0.5rem;
}
.footer .contact-tile{
	fill: #e9cdcd;
}

.page-header{
	height: 100vh;
}

.nav-container{
	position: absolute;
	
	display: flex;
	justify-content: space-around;
	align-items: baseline;
	flex-wrap: wrap;
	width: 100%;
	background: url('assets/img/background-1.jpg');

	-webkit-box-shadow: 0px 8px 28px 0px rgba(39,41,42,1);
	-moz-box-shadow: 0px 8px 28px 0px rgba(39,41,42,1);
	box-shadow: 0px 8px 28px 0px rgba(39,41,42,1);

}
.page-logo{
	font-family: 'Lobster', cursive;
	text-decoration: none;
	color: #d8bcbc;
	line-height: 0;
	margin-top: 0.5rem;
	margin-left:0.5rem;
	margin-bottom: 0.5rem;

}
.nav-menu{
	list-style: none;

	display: flex;
	flex-direction: row;
	align-items: baseline;

	margin-top: 0.5rem;


}

.nav-menu li{
	margin-left: 2rem;
	color: #d8bcbc;
}

li.sign-up{

	border: 1px solid #dddddd;
	border-radius: 1rem;
	padding:0.3rem 1rem;
}
li.sign-up:hover{

	border-color:#ffffff;

}
.nav-menu li:hover{
	cursor: pointer;
	color:#fbefef;
}

.menu-link{
	text-decoration: none;
	color:#d8bcbc ;
}
.menu-link:hover{
	color:#fbefef;
}

.hamburger{
	width: 32px;
	height: 32px;
	display: none;
}





.scroll-up{
	width: 20px;
	height:20px;
	position: fixed;
	bottom: 0;

}
/*----------------------------------------------------------------*/

.author-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;

	width: 100%;
	height: inherit;



	padding: 1rem;
}
.author-container .author-header{
	text-align: center;
}
.caption{
	font-family: 'Lobster', cursive;
	font-weight: 800;
	text-align: center;
	font-size: 500%;
	margin-top: 10rem;
	margin-bottom: 2rem;
}
.caption::after{
	display: block;
	width: 10rem;
	margin: auto;
	margin-top: 1.5rem;

	border-bottom: 0.2rem solid #080809;
	content: '';

}
.author-name{
	margin-bottom: 0;
	margin-top: 0;
}
.author-caption{
	margin-top: 0.5rem;
}

.contact-header a{
	display: block;
	padding: 0;

}
.contact-container object{
	pointer-events: none;
}


.contact-container {
	display: flex;
	align-items: flex-end;
	height: 100%;
}


	
/*----------------------------------------------------------------------*/


.section{
	padding: 1rem;
	padding-top: 2rem;
	box-sizing: border-box;
}

.section-header{
	font-size: 200%;
	display: flex;
	flex-direction: column;
	align-items: center;

	padding-bottom:1rem;	

}
.section-header::after{
	display: block;

	width: 7rem;
	margin-top: 0.5rem;
	border-bottom: 0.2rem solid;
	content: "";
}

.technology-section{
	width: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
	color: #d8bcbc;

	background: url('assets/img/background-1.jpg');
}
.technology-section object{
	width: 6rem;
}
.tiles-container{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.tile{
	margin: 2rem;
	flex-basis: 10%;
}
.tile p{
	font-size: 90%;
	margin: 0;
	padding-bottom: 0.3rem;
}

.ourWork-section{
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	

}
.gallery{
	display: flex;	
	flex-wrap: wrap;
	justify-content: space-around;
	margin-bottom: 2rem;
	width: 100%;
}
.img{
	padding: 0.5rem;
}
.gallery .img:hover{
	transform: scale(1.05);
	cursor: pointer;

}
body.gallery-open .gallery {
	justify-content: center;
}
body.gallery-open .img{
	max-width: 5rem;
}

.aboutUs-section{
	color: #d8bcbc;
	
	background: url('assets/img/background-1.jpg');
}

.aboutUs-section p{
	max-width: 90rem;
	margin-left: auto;
	margin-right: auto;
}

.contact-container-bottom {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;	
	justify-content: center;
	padding: 1.5rem;

}

.address{
	text-align: left;
	padding: 1rem;
	padding-right: 3rem;

}
.address p{
	margin: 0;
	font-weight: bold;
}

.contact-form{
	padding: 1rem;
	padding-left: 3rem;

}

.input{
	display: block;
	margin-bottom: 1rem;
	width: 15rem;
}
textarea.input{
	height: 10rem;
}

/*----------------------------------------------------*/

.footer{
	color: #e9cdcd;
	text-align: center;
	padding: 0.3rem;
	
	background: url('assets/img/background-1.jpg');
}
.footer p{
	margin: 0;
}



@media screen and (max-width: 800px){
	
    .nav-menu{
    	display: none;
    }

    .page-nav{
    	flex-basis: 100%;
    }
    .nav-container.open-menu .nav-menu{
    	display: flex;
   		flex-direction: column;

    	left: 0;
    	right: 0;
    	margin: auto;
    	margin-top: 2rem;
    	padding: 1rem;
    	width: 60%;
    
    	
    	text-align: center;
    	

    }
    .nav-container.open-menu .nav-menu li:not(:last-child){
    	width: 100%;
    	margin:0;
    	padding-bottom: 1rem;
    	padding-top: 1rem;
    	border-bottom: 1px solid rgba(215, 188, 188, 0.3);
    }

  

	li.sign-up{
		margin:auto;
		margin-top: 2rem;
		width: 5rem;

		align-self: center;
		border: 1px solid #ffffff;
		border-radius: 2rem;
		padding:0.8rem;
	}

	.hamburger{
		display: flex;

		margin-right: 0.5rem;
		margin-top: 0.5rem;
		height: 1.5rem;

		
	}
	.hamburger:hover{
		cursor: pointer;
	}
    .icon-hamburger{	    
	    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMTcuOCAzMTcuOCIgPjxzdHlsZT4uYXtmaWxsOiNFOUNEQ0Q7fTwvc3R5bGU+PHBhdGggZD0iTTMwMS45IDE0M0gxNS45QzcuMSAxNDMgMCAxNTAuMSAwIDE1OC45YzAgOC44IDcuMSAxNS45IDE1LjkgMTUuOWgyODZjOC43IDAgMTUuOS03LjEgMTUuOS0xNS45QzMxNy44IDE1MC4xIDMxMC43IDE0MyAzMDEuOSAxNDN6IiBjbGFzcz0iYSIvPjxwYXRoIGQ9Ik0xNS45IDc5LjVoMjg2YzguNyAwIDE1LjktNy4xIDE1LjktMTUuOXMtNy4yLTE1LjktMTUuOS0xNS45SDE1LjlDNy4xIDQ3LjcgMCA1NC44IDAgNjMuNlM3LjEgNzkuNSAxNS45IDc5LjV6IiBjbGFzcz0iYSIvPjxwYXRoIGQ9Ik0zMDEuOSAyMzguNEgxNS45QzcuMSAyMzguNCAwIDI0NS41IDAgMjU0LjNjMCA4LjcgNy4xIDE1LjkgMTUuOSAxNS45aDI4NmM4LjcgMCAxNS45LTcuMiAxNS45LTE1LjlDMzE3LjggMjQ1LjUgMzEwLjcgMjM4LjQgMzAxLjkgMjM4LjR6IiBjbGFzcz0iYSIvPjwvc3ZnPg==)no-repeat center center;
	    background-size: contain;	    

	    width: inherit;
	    margin: 0;
	}
	
	


	.icon-hamburger-cross{
		display: none;

		background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzNS40IDM1LjQiPjxwYXRoIGQ9Ik0yMC41IDE3LjNMMzQgMy44YzAuOC0wLjggMC44LTIgMC0yLjggLTAuOC0wLjgtMi0wLjgtMi44IDBMMTcuNyAxNC41IDQuMiAxYy0wLjgtMC44LTItMC44LTIuOCAwcy0wLjggMiAwIDIuOGwxMy41IDEzLjVMMC42IDMxLjZjLTAuOCAwLjgtMC44IDIgMCAyLjggMC40IDAuNCAwLjkgMC42IDEuNCAwLjZzMS0wLjIgMS40LTAuNmwxNC4zLTE0LjNMMzIgMzQuNGMwLjQgMC40IDAuOSAwLjYgMS40IDAuNnMxLTAuMiAxLjQtMC42YzAuOC0wLjggMC44LTIgMC0yLjhMMjAuNSAxNy4zeiIgZmlsbD0iICNlOWNkY2QiLz48L3N2Zz4=)no-repeat center center;
	    background-size: contain;

		width: inherit;
		margin:0;		
	}

	.nav-container.open-menu .icon-hamburger{
		display: none;
	}
	.nav-container.open-menu .icon-hamburger-cross{
		display: initial;

		
		
	}
	.nav-container{
		justify-content: space-between;
	}


}


@media screen and (max-width: 768px) {
	body{
		background-size: 100%;
	}

	.contact-form{
		padding: 0;
	}
	.gallery{
		max-width: 100%;
	}

	.caption{	
	font-size: 400%;
	}

}